$size: 2.5rem;

.container {
  display: flex;
  user-select: none;

  .brand {
    display: flex;
    align-items: center;
    font-size: $size;
    font-family: var(--jetbrains-mono);

    .logo {
      $scale: .9;
      height: calc($size * $scale);
      width: calc($size * $scale);
      fill: darken(#9CEC5B, 30%);
    }
  }

  .extension {
    font-size: calc($size * .5);
    font-family: var(--poppins);
    font-style: italic;
    align-self: stretch;
    position: relative;

    div {
      position: absolute;
      top: 22px;
    }

  }
}