.container {
  display: flex;
  flex-direction: column;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  width: calc(100vw - var(--open-menu-width));

  &.menu__closed {
    width: calc(100vw - var(--close-menu-width));
  }

  .content__section {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow: auto;
    padding: calc(var(--metric-base) * 5);
  }
}