@import '~@/theme/classic/theme.scss';

.container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    text-transform: capitalize;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
  }

  h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
  }

  .search__modal {
    >svg {
      width: 30px;
      margin-right: .5rem;
    }
  }

  .hamburger__menu {
    display: none; //flex
    flex-direction: column;
    justify-content: center;
    padding: 5px;

    >svg {
      width: 30px;
      height: 30px;
    }
  }

  nav {
    display: none;
    margin: 0.5rem 0;
    padding: 0 .5rem;

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      .push__right {
        margin-left: auto;
      }

      li {

        &.menu__link {
          >a {
            text-decoration: none;
            color: var(--color-foreground);
            font-weight: bold;

            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  .logo {
    position: relative;
    display: flex; //none
    justify-content: center;
    align-items: center;

    // img {
    //   object-fit: cover;
    // }

    // &__brand {
    //   &__container {
    //     display: block;
    //   }
    // }

    // .logo__svg {
    // fill: var(--color-foreground);
    // padding: 2px;
    // }

    a {
      position: absolute;
      inset: 0;
    }
  }

  @media screen and (min-width: 425px) {
    justify-content: flex-start;

    .title {
      font-size: 1rem;
    }

    .logo {
      display: flex;
      // width: 40px;
      margin-right: 0.1rem;
    }

    .search__modal {
      margin-left: auto;

      >svg {
        width: 40px;
        margin-right: 1.5rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title {
      display: none;
    }

    nav {
      display: flex;
    }

    .logo {
      margin: .5rem .8rem;
    }

    .hamburger__menu {
      display: none;
    }
  }
}