@import '@admin/admin/theme.scss';

.form__group {
  position: relative;
  margin-top: .75rem;

  &.active {
    label {
      top: -.75rem;
      font-size: .85rem;
    }
  }

  &.primary {
    input {
      border-color: var(--color-primary);

      &:focus {
        border-color: var(--color-primary);
      }
    }

    label {
      color: var(--color-primary);
    }

    .form__validate__button {
      color: var(--color-primary);

      &:hover {
        color: color-mix(in srgb, var(--color-primary) 75%, var(--color-accent) 100%);
      }
    }
  }

  input {
    padding: 10px;
    background-color: transparent;
    border-radius: var(--metric-radius-small);
    border: 2px solid var(--color-font-primary);
    height: var(--metric-input-height);
    width: var(--metric-input-width);
    color: var(--color-font-primary);
    font-size: .75rem;
    transition: all .2s ease;

    &:focus~label {
      top: -.75rem;
      font-size: .85rem;
      background-color: var(--color-background-primary);
    }

    &:focus {
      outline: none;
      border-color: var(--color-font-primary);
    }
  }

  label {
    position: absolute;
    left: 10px;
    top: calc(var(--metric-input-height) / 6);
    text-align: center;
    vertical-align: middle;
    padding: 0 var(--metric-base);
    color: var(--color-font-primary);
    background-color: transparent;
    transition: all .2s ease;
    pointer-events: none;
    text-transform: capitalize;
    font-weight: 700;
  }

  .form__control {}

  &.form__group__collapsed {
    display: inline-flex;
    border: 2px solid var(--color-border-color);
    border-radius: var(--metric-radius-small);

    &.primary {
      border-color: var(--color-primary);
    }


    input {
      border: none;
      border-radius: unset;

      &.active {
        label {
          top: -.75rem;
        }
      }

      &:focus~label {
        top: -.75rem;
      }
    }
  }

  .form__validate__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--metric-button-height);
    aspect-ratio: 1;
    background-color: transparent;
    color: var(--color-font-primary);
    cursor: pointer;
    transition: all .2s ease, scale .1s ease-in-out;

    &:hover {
      color: var(--color-primary);
      scale: 1.2;
    }
  }
}