@import '~@/theme/classic/theme.scss';

.container {
  position: relative;
  padding: 5px 10px;
  background-color: var(--style-background-color);
  color: var(--style-foreground-color);
  font-size: .8rem;
  font-weight: 700;
  border-radius: var(--metric-radius-small);
  z-index: 1;
}