@mixin debug($color: $debug-color) {
  border: 1px solid $color;
  background-color: rgba($color, 0.1);
}


@mixin local-debug($color: $debug-color) {
  section {
    $debug-color: blue;
    @include debug($debug-color);
  }

  aside {
    $debug-color: orange;
    @include debug($debug-color);
  }

  footer {
    $debug-color: purple;
    @include debug($debug-color);
  }

  details {
    $debug-color: pink;
    @include debug($debug-color);
  }

  header {
    $debug-color: red;
    @include debug($debug-color);
  }

  nav {
    $debug-color: green;
    @include debug($debug-color);
  }

  div {
    $debug-color: lime;
    @include debug($debug-color);
  }
}