$colors: (
  // French Blue
  primary: #7C5FE3,
  // Picton Blue
  secondary: #494453,
  // Aero
  tertiary: #AFA8BA,
  // Carrot Orange
  accent: #FF705F,
  // Persian Red
  danger: #d63230,
  // Emerald
  success: #4caf50,
  // Sunglow
  warning: #fbc02d,
  icon-color:#000000,
  icon-bg-color:#2B2830,
  font-primary: #C0BCCA,
  font-secondary: #7E7A86,
  border-color: #312E37,
  background-primary: #0F0E11,
  background-secondary: #17151B,
  bright-primary: #FFFFFF,
);

$dark-colors: (
  // French Blue
  primary-100: darken(map-get($colors, primary), 10%),
  // Picton Blue
  secondary: #6184D8,
  // Aero
  tertiary: #50C5B7,
  // Carrot Orange
  accent: #9CEC5B,
  // Persian Red
  danger: #d63230,
  // Emerald
  success: #4caf50,
  // Sunglow
  warning: #fbc02d,
  // White
  light: lighten(#000000, 4%),
  // Black
  dark: darken(#ffffff, 25%)
);

$font-size: 16px;

$base-metric: 4px;

$opacity-step : 25;

$opacity: (
  0: 00,
  1: 02,
  2: 04,
  3: 08,
  5: 0A,
  6: 0C,
  7: 0E,
  8: 10,
  9: 12,
  10: 19,
  20: 32,
  30: 4B,
  40: 64,
  50: 7D,
  60: 96,
  70: AF,
  80: C8,
  90: E1,
  100: FF,
);

$metrics: (
  input:(width: $base-metric * 80,
    height: $base-metric * 10,
  ),
  button:(height: $base-metric * 10,
    min-width: $base-metric * 40,
    padding: $base-metric*3 $base-metric * 5,
    margin:$base-metric * 3,
  ),
  base: $base-metric,
  radius: (small: $base-metric,
    medium: $base-metric * 2,
    large: $base-metric * 3,
  ),
  font:(small: $font-size * 0.75,
    medium: $font-size,
    large: $font-size * 1.25,
    extra-large: $font-size * 1.5,
    extra-extra-large: $font-size * 1.75,
  ),
  icon:(base: $base-metric,
    small: $base-metric * 3,
    medium: $base-metric * 4,
    large: $base-metric * 5,
  ),
  font-weight:(light: 300,
    normal: 400,
    bold: 700,
  ),
  padding:(small: $base-metric * 2,
    medium: $base-metric * 3,
    large: $base-metric * 4,
  ),
  heading:(h3-margin: $base-metric * 3,
  )
);

$constant-black: lighten(#000, 5%);

$default--colors: (
  foreground: map-get($colors, dark),
  alternate-foreground: map-get($colors, light),
  background: map-get($colors, light),
  alternate-background: map-get($colors, dark),
  border: map-get($colors, dark),
  black: $constant-black,
);

$special-colors: (
  disabled: #333,
);

$colors: map-merge(map-merge($colors, $default--colors), $special-colors);


$default--dark--colors: (
  foreground: map-get($dark-colors, dark),
  background: map-get($dark-colors, light),
  border: map-get($colors, dark),
  black: $constant-black,
);

$dark-colors: map-merge($dark-colors, $default--dark--colors);