.container {
  border: 1px solid #ccc;
  text-align: left;
  position: relative;
  border-radius: 5px;
  min-width: 200px;


  .input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  .selected__value {}

  .tools {

    .tool {}
  }

  .menu {
    position: absolute;
    transform: translateY(70%) translateX(-2%);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;

    .item {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #9fc3f870;
      }
    }
  }

}