@import '~@/theme/classic/theme.scss';

.document {}

.container {
  width: 100%;
  color: var(--color-foreground);
  background: var(--color-background);

  aside {
    width: 15%;
    float: right;
    padding-left: 0.5rem;

    >p {
      margin: 0.5rem;
    }
  }

  @media screen and (max-width: 1024px) {
    aside {
      width: 25%;
    }
  }

  @media screen and (max-width: 768px) {
    aside {
      display: none;
    }
  }
}