@import '~@/theme/classic/theme.scss';

.document {}

.container {
  width: 100%;
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom,
      transparent 50%,
      var(--background-end-rgb)) var(--background-start-rgb) 75%;

  aside {
    width: 15%;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #29627e;
    padding-left: 0.5rem;

    >p {
      margin: 0.5rem;
    }
  }

  @media screen and (max-width: 1024px) {
    aside {
      width: 25%;
    }
  }

  @media screen and (max-width: 768px) {
    aside {
      display: none;
    }
  }
}