  .container {
    position: fixed;
    top: 0;
    right: 0;
    left: var(--open-menu-width);
    height: var(--header-height);

    padding: calc(var(--metric-base) * 2) calc(var(--metric-base) * 5);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: calc(var(--metric-base) * 5);

    background-color: var(--color-background-secondary);
    border-bottom: 1px solid var(--color-border-color);

    &.menu__closed {
      left: var(--close-menu-width);
    }
  }