@import '~@/theme/classic/theme.scss';
//  border: 1px solid yellow;

//  >* {
//    border: 1px solid orange;
//    background-color: rgba($color: red, $alpha: .5);
//  }
.container {
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: var(--metric-radius-medium);

  display: flex;
  flex-direction: column;
  width: 100%;

  font-size: 1.4rem;

  .figure {
    position: relative;
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .details {
    padding: 25px 10px;

    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 10px;
  }

  .reading__time {
    display: flex;
    justify-content: flex-end;
    font-size: .8em;
    white-space: nowrap;
  }

  .reading__effective_time {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .metadata__author {
    font-size: .7em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .metadata__count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .clock {
    fill: var(--color-accent);
    width: .9em;
  }


  .metadata__tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
  }

  .metadata__tags__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5em;
    padding: 5px;
  }

  .metadata__level {
    border: 1px solid var(--color-border);
    border-radius: var(--metric-radius-small);
  }
}