$colors: (
  // French Blue
  primary: #1c77c3,
  // Picton Blue
  secondary: #39a9db,
  // Aero
  tertiary: #40bcd8,
  // Carrot Orange
  accent: #f39237,
  // Persian Red
  danger: #d63230,
  // Emerald
  success: #4caf50,
  // Sunglow
  warning: #fbc02d,
  // White
  light: darken(#ffffff, 6%),
  // Black
  dark: lighten(#000000, 25%),
);

$dark-colors: (
  // French Blue
  primary: #533A71,
  // Picton Blue
  secondary: #6184D8,
  // Aero
  tertiary: #50C5B7,
  // Carrot Orange
  accent: #9CEC5B,
  // Persian Red
  danger: #d63230,
  // Emerald
  success: #4caf50,
  // Sunglow
  warning: #fbc02d,
  // White
  light: lighten(#000000, 2%),
  // Black
  dark: darken(#ffffff, 25%)
);

$base-metric: 4px;

$opacity-step : 25;

$opacity: (
  0: 0,
  10: 19,
  20: 32,
  30: 4B,
  40: 64,
  50: 7D,
  60: 96,
  70: AF,
  80: C8,
  90: E1,
  100: FF,
);

$metrics: (
  radius: (small: $base-metric,
    medium: $base-metric * 2,
    large: $base-metric * 3,
  )
);

$default--colors: (
  foreground: map-get($colors, dark),
  alternate-foreground: map-get($colors, light),
  background: map-get($colors, light),
  alternate-background: map-get($colors, dark),
  border: map-get($colors, dark),
);

$colors: map-merge($colors, $default--colors);

$default--dark--colors: (
  foreground: map-get($dark-colors, dark),
  background: map-get($dark-colors, light),
  border: map-get($colors, dark),
);

$dark-colors: map-merge($dark-colors, $default--dark--colors);